.classGrid {
	margin-top:10px;
        background-color: #cccccc;
        margin-left: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
	border: #cdcdcd medium solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.classCell {
    padding-top: 10px;
}

.resultsTable {
    padding-top: 20px;
}

.homeRightContainer{
    padding-left: 30px;
}

.logsContainer {
    width: 300px;
    height: 180px;
    background-color: black;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.adminButtonGroup {
    padding-top: 30px;
}

.loginbutton {
    padding-bottom: 3px;
}

.submit-button {
    padding-left: 20px;
}

.red {
    background-color: #ff9900;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.centered { 
    margin: auto;
    max-width: 1000px;
}

.containerGray {
    background-color: #cccccc;
}
font {   
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.col-fixed{
    height: 150px;
    overflow: auto;
    margin-top:10px;
        background-color: #cccccc;
        margin-left: 10px;
        padding-left: 10px;
	border: #cdcdcd medium solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}